$bgSidebar: rgba(31, 35, 57, 1);
$bgContent: rgba(77, 84, 116, 1);
$textColor: rgba(255, 255, 255, 1);
$blueMain: rgba(67, 232, 255, 1);
$bgCard: rgba(56, 62, 87, 1);
$textSecondary: rgba(161, 166, 190, 1);